* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/images/Background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  color: black;
  background-color: black;
  width: 95%;
  height: 95%;
  margin: 0px auto;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.233);
}

.nav-bar {
  display: flex;
  background-color: black;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.nav-bar a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

div .more {
  font-size: 15px;
  display: inline-block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}
ul li:hover {
  background: #555;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
}
ul li ul li {
  background: black;
  display: block;
}
ul li ul li a {
  color: white;
  text-decoration: none;
  display: block !important;
}
ul li ul li:hover {
  background: rgb(192, 216, 242);
}

.body {
  background-color: black;
}

.search-bar {
  background-color: white;
}

.search-icon:hover {
  color: #cacaca;
}

#search-input {
  border: 0;
  outline: 0;
  padding: 5px 40px 5px 40px;
  background: black;
  color: white;
}

#search-input::placeholder {
  color: white;
}

.extra-bar {
  padding: 20px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
}

#movies-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

#movies-list .poster {
  padding: 32px;
}

.poster-images {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.poster-titles {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  color: white;
  background-color: black;
}

footer {
  padding: 10px;
  height: 8vh;
  color: white;
}

.dropbtn {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.account {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(192, 216, 242);
}

.account:hover .dropdown-content {
  display: block;
}

.account:hover .dropbtn {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}
